    {% extends '::base.html.twig' %}
    {% block title%} Sites-{{parent()}} {% endblock%}


    {% block body %}

    <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2><i class="fa fa-flag-o"></i> Gestion des salles</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{path('admin_rooms') }}">Salles</a>
                        </li>
                        <li class="active">
                            <strong>Edition</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-sm-8">
                    <div class="title-action">
                        <a href="{{path('admin_rooms')}}" class="btn btn-primary"><i class="fa fa-list"></i> Salles</a>
                    </div>
                </div>
            </div>

            <div class="wrapper wrapper-content">
                <div class="ibox-content">
                    {{form(form)}}
                </div>
            </div>

    {% endblock  %}